<body class="snail">

<center>
<div class="logo">
<%= image_tag("unicoinlatest.png") %>
</div>
</center>

<center>
<div class="homepage-login">
<h2 style="font-family: American Typewriter">Create an Account</h2>

<%= render 'form', user: @user %>
<!-- Changed the link tag below. -->
<%= link_to 'Already a member? Log in', login_path %>
</div>
</center>
</body>
