<center><h1>Welcome, <%= current_user.name.capitalize %>!</center>

<h2><%= link_to 'Start a new 2017-2018 FAFSA', new_user_response_path %></h2>
<h2><%= link_to 'Update a saved FAFSA', user_responses_path %></h2>
