<%= image_tag("unicoinlatest.png") %>
<body class="live_body">
  <div class="container">
    <div class="row">
      <h1>Unicoin Live Chat</h1>
      <div class="panel-body">
        <div class="container">
          <div class="row message-bubble">
            <div class="row">
              <div class="col-md-8">
                <div id="messages"></div>
                <input id="chat-input" class="form-control" type="text" placeholder="Please enter here" autofocus/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
