<%= form_for(user_response, multipart: true) do |f| %>

  <div class="field">
    <%= f.label :image_upload %>
    <%= f.file_field :image_upload %>
  </div>

  <div class="actions">
    <%= f.submit 'Evaluate Image', class: "submit" %>
  </div>

<% end %>
