/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


ul {
 list-style-type: none;
}

/*.panel:hover li {
  transform: scale(1.5);
}*/


.row {
  margin: 0;
}

 .panel, .panel-success {
   width: 40%;
   float: right;
   clear: right;
   background-color: bhsla(120, 100%, 50%, 0.5);
   margin-right: 5%;
   border-radius: 20px;
 }

.panel-heading {
   border-radius: 20px 20px 0px 0px;
 }

 .panel-heading {
   float: left;
 }

 .navigation-bar {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

 .logo img {
 max-height: 200px;
 margin-bottom: 20px;
 margin-top: 75px;
}

 #slide-in {
   width: 100%;
   transition: all .75s ease;
   position: relative;
   right: -884px;
}

#slide-in.show {
  right: 0px;
}

#slide-in-left {
  width: 30%;
  transition: all .75s ease;
  position: relative;
  left: -884px;
}

#slide-in-left.show {
  left: 0px;
}
/*end of log in css effects */

 .fafsa-steps {
   width: 40%;
   height: auto;
   margin-right: 5%;
   margin-top: 15px;
   border-width: 1px;
   border-color: grey;
   border-style: solid;
   border-radius: 20px;
   padding: 15px;
   float: right;
   clear: both;
   background-color: #e3f2fd;
 }

 .fafsa-steps h1, h2, h3, h4 {
   font-weight: bolder;
 }


 .form-container {
   width: 95%;
   margin-right: auto;
   margin-left: auto;
   font-weight: bold;
   border-width: 1px;
   border-color: black;
   border-style: solid;
   padding: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 20px;
 }

#messages {
  background-color: #e3f2fd;
}

.homepage-login {
  width: 30%;
  height: auto;
  background-color: #e3f2fd;
  padding-bottom: 20px;
  padding-top: 1px;
  border-radius: 20px;
  margin-bottom: 10%;
}

.homepage-login form, form label {
  text-align: center;
  font-weight: normal;
  max-width: 100%;
  color: white;
}


.login-background {
  background-image: url("http://mi.fancaps.net/Galleries/Monsters_University/Monsters_University_Screenshot_0370.jpg");
  background-repeat: no-repeat!important;
  background-position: 30% 80%!important;
  height: 100vh;
  width: 100%;
}


/*navbar css */

.navbar {
  margin: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  /*background-color: rgba(43, 41, 41, 1);*/
  /*background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(43, 41, 41, 1) 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(43, 41, 41, 1) 100%);*/
  border-width: 1px;
  border-radius: 5px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  /*color: rgba(255, 255, 255, 1);*/
  /*background-color: rgba(43, 41, 41, 1);*/
  /*background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0) 0%, rgba(43, 41, 41, 1) 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(43, 41, 41, 1) 100%);*/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  /*color: rgba(81, 175, 194, 1);*/
  /*background-color: rgba(25, 26, 26, 1);*/
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  /*color: rgba(81, 175, 194, 1);*/
  /*background-color: rgba(30, 31, 31, 1);*/
  /*background: -webkit-linear-gradient(top, rgba(66, 63, 63, 1) 0%, rgba(30, 31, 31, 1) 100%);
  background: linear-gradient(to bottom, rgba(66, 63, 63, 1) 0%, rgba(30, 31, 31, 1) 100%);*/
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #1e1f1f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  /*background-color: #1e1f1f;*/
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  /*background-color: #1e1f1f;*/
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  /*background-color: #2b2929;*/
}

@media only screen and (max-width: 600px) {
  .homepage-login {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .form-container {
    width: 80%;
  }

  .logo {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #custom-bootstrap-menu {
    width: 100%!important;
  }

  .login-background {
    width: 100%;
  }
}
