// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#messages {height: 300px; overflow: scroll; border: 1px solid #ddd}


// slug backgrownd
.index-page {
  background: url('http://mi.fancaps.net/Galleries/Monsters_University/Monsters_University_Screenshot_0374.jpg') no-repeat center center fixed;
  background-size: cover;
}

.index-page h1, h2 {
   color: white;
   font-weight: bolder;
}

.index-welcome {
  margin-top: 75px;
  color: white;
  font-weight: bolder;
}
